@layer base {
  @font-face {
    font-family: 'Travels';
    font-optical-sizing: auto;
    font-display: swap;
    src: url('/assets/fonts/Travels.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Manrope';
    font-optical-sizing: auto;
    font-display: swap;
    src: url('/assets/fonts/Manrope.woff2') format('woff2');
    font-weight: 400 600;
    font-style: normal;
  }

  body {
    @apply text-body1;
  }
}
