@import 'tailwindcss/base';
@import './styles/palette.css';
@import './styles/typography.css';

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-width: 360px;
    --mobile-sidebar-heigth: calc(100svh - 1.5rem);
    --mobile-drawer-height: calc(100svh - 1.5rem);

    --booking-info-card-width: 496px;
  }

  body {
    @apply overflow-auto overscroll-none;
  }

  html {
    @apply overflow-hidden;
  }

  #root {
    @apply overflow-auto;
  }
}

@layer utilities {
  .scrollbar-always::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }

  .scrollbar-always::-webkit-scrollbar-thumb {
    @apply bg-primary-400 rounded-full;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .overflow-initial {
    overflow: initial;
  }
}

@layer components {
  .no-tooltip-arrow::before {
    display: none !important;
  }
}
